{% extends 'user.html' %}
{% load static %}
{% block content %}
			<div class="row">
				<div class="col-lg-7">
					<div class="featured-text">
						<h2 class="pb-3"><span class="orange-text">Daily Mart</span></h2>
						<div class="row">
							<div class="col-lg-6 col-md-6 mb-4 mb-md-5">
								<div class="list-box d-flex">
									
									<div class="content">
										<h3></h3>
										<p> 
											Welcome to Daily Mart!<br><br>
											Daily Mart is your go-to destination for all your daily needs.
											We offer a wide variety of products including fresh vegetables, juicy fruits, tasty snacks, and essential dairy products.
											At Daily Mart, we believe in providing high-quality products at affordable prices.
											Our mission is to make your shopping experience convenient and enjoyable.
											Whether you are looking for groceries, household items, or personal care products, you can find everything you need under one roof.
											Visit Daily Mart today and experience the best in daily shopping!<br><br>
											Thank you for choosing Daily Mart!
										</p>
									</div>
								</div>
							</div>
							
							
							
							</div>
							
							</div>
						</div>
					</div>
				</div>
			</div>
            {% endblock %}