{% extends 'user.html' %}
{% block content %}
<div class="row">
    <div class="col-lg-8 mb-5 mb-lg-0">
        <form action="{% url 'registration_page' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-title">
                
               
            </div>
            <div id="form_status"></div>
            <div class="registration-form">
                <p>
                    <input type="text" placeholder="Name" name="username" id="username"><br><br>
                    <input type="password" placeholder="Password" name="password" id="password"><br><br>
                    <input type="email" placeholder="Email" name="email" id="email"><br><br>
                    <input type="text" placeholder="Phone" name="phone" id="phone">
                </p>
                <p><input type="submit" value="Submit"></p>
            </div>
        </form>
    </div>
</div>
{% endblock %}
