{% extends 'adminapp.html' %}
{% block content %}
{% for i in data %}
<form action="{% url 'update' id=i.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="image">
                        <div class="form-group">
                            <label for="category name">Category name</label>
                            <input type="category" class="form-control" id="category" name="category" value="{{ i.category }}" placeholder="Category name">
                          </div>
                          <div class="form-group">
                            <label for="description">Description</label>
                            <input type="description" class="form-control" id="description" name="description" value="{{ i.description }}" placeholder="Description">
                          </div>
                          <div class="card-action">  
                          <button class="btn btn-success">Submit</button>
                  
                          </div>
                          {% endfor %}
                          {% endblock %}