{% extends 'adminapp.html' %}
{% block content %}
                  <div class="card-header">
                    <div class="card-title">product Table</div>
                  </div>
                  <div class="card-body">
                   
                    <div class="table-responsive">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                         
                            <th>product name</th>
                            <th>price</th>
                            <th>category</th>
                            <th>image</th>
                            <th>edit</th>
                            <th>clear</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for i in data1 %}
                          <tr>
                            <td>{{ i.product}}</td>
                            <td>{{ i.price}}</td>
                            <td>{{ i.category}}</td>
                            <td><img src="{{ i.image.url }}" alt="Image" style="width: 50px; height: auto;"></td>
                            <td><a href="/editproduct/{{ i.id }}">Edit</a></td>
                            <td><a href="/clear/{{ i.id }}">Delete</a></td>
                          </tr>
                          {% endfor %}
                          
                        </tbody>
                      </table>
                    </div>
                  </div>
                  {% endblock %}