/* styles.css */

.product-lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px; /* Gap between the product items */
}

.product-lists .single-product-item {
    background: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: transform 0.3s ease;
    margin-left: 10px;
margin-right: 10px;
}

.product-lists .single-product-item:hover {
    transform: translateY(-10px);
}

.product-lists .product-image img {
    width: 100%;
    height: auto;
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.product-lists h3 {
    font-size: 1.25rem;
    margin: 10px 0;
}

.product-lists .product-price {
    font-size: 1rem;
    color: #888;
    margin: 10px 0;
}

.product-lists .cart-btn {
    display: inline-block;
    padding: 10px 20px;
    background: #d54545;
    color: #fff;
    border-radius: 5px;
    transition: background 0.3s ease;
    margin-left: 1px;
}

.product-lists .cart-btn:hover {
    color: #e67e22;
}
